<p style="color: green"><%= notice %></p>

<% content_for :title, "Attr colors" %>

<h1>Attr colors</h1>

<div id="attr_colors">
  <% @attr_colors.each do |attr_color| %>
    <%= render attr_color %>
    <p>
      <%= link_to "Show this attr color", attr_color %>
    </p>
  <% end %>
</div>

<%= link_to "New attr color", new_attr_color_path %>
<%= link_to "Back to Admin", admin_path %>
