<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= order.phone %>
  </p>

</div>
