<div id="<%= dom_id order %>">
  <div class="card p-3">
    <h5>
      <strong>收货人：</strong> <%= order.name %>
    </h5>
    <hr />
    <% unless order.address == "" %>
      <p>
        <strong>收货地址：</strong>
        <%= order.address %>
      </p>
    <% end %>
    <% unless order.phone == "" %>
      <p>
        <strong>联系电话：</strong>
        <%= order.phone %>
      </p>
    <% end %>

    <p>
      <strong>订单创建时间：</strong>
      <%= order.created_at.localtime.strftime "%Y-%m-%d %H:%M:%S" %>
    </p>

    <p>
      <strong>订单更新时间：</strong>
      <%= order.updated_at.localtime.strftime "%Y-%m-%d %H:%M:%S" %>
    </p>

    <hr />

    <div class="row">
      <% total_price = 0 %>
      <% OrderItem.where(order_id: order.id).each do |item| %>
        <% good = Good.where(id: item.good_id).first %>
        <% unless good.nil? %>
          <div class="card col-4 m-2 p-1">
            <p>
              <strong>商品名称：</strong>
              <%= good.name %>
            </p>
            <p>
              <strong>商品价格：</strong>
              ¥<%= good.price %>
            </p>
            <div class="row">
              <p class="col-6">
                <strong>订货数量：</strong>
                <%= item.count %>
              </p>
              <div class="col-6">
                <strong>总价：</strong>
                ¥<%= good.price * item.count %>
                <% total_price += good.price * item.count %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <p>
      <strong>总价：</strong>
      ¥<%= total_price %>
    </p>
    <div class="row p-2">
      <%= form_with url: order_path(order), method: "delete", class: "col-2 p-0" do |form| %>
        <%= form.submit "删除订单", class: "form-control btn btn-danger" %>
      <% end %>
      <%= link_to "编辑订单", edit_order_path(order), class: "col-2 btn btn-primary" %>
    </div>
  </div>

</div>
