<div id="<%= dom_id order %>">
  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= order.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= order.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= order.phone %>
  </p>

  <p>
    <strong>Items:</strong>
  </p>

  <small>
    <% OrderItem.where(order_id: order.id).each do |item| %>
      <p>
        <strong>Good:</strong>
        <%= Good.where(id: item.good_id).name %>
      </p>
      <p>
        <strong>Count:</strong>
        <%= item.count %>
      </p>
    <% end %>
  </small>

</div>
