<% content_for :title, "New order" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h3>新建订单</h3>
        </div>
        <div class="card-body">
          <%= form_with url: do_create_order_orders_path, method: "post" do |form| %>
            <%= form.number_field :user_id, value: session[:current_userid], hidden: true %>
            <div class="mb-3">
              <%= form.label "收货人姓名", class: "form-label" %>
              <%= form.text_field :name, class: "form-control", placeholder: "输入姓名" %>
            </div>

            <div class="mb-3">
              <%= form.label "收货地址", class: "form-label" %>
              <%= form.text_field :address, class: "form-control", placeholder: "输入地址" %>
            </div>

            <div class="mb-3">
              <%= form.label "联系电话", class: "form-label" %>
              <%= form.text_field :phone, class: "form-control", placeholder: "输入电话" %>
            </div>

            <hr />

            <div class="mb-3">
              <%= form.label "选择商品", class: "form-label fw-bold fs-3" %>
            </div>

            <% Good.all.each do |good| %>
              <div class="row">
                <span class="col-4 my-auto"><%= good.name %></span>
                <span class="col-2 my-auto">¥<%= good.price %></span>
                <span class="col-2 my-auto text-danger fw-bold">
                  <% if FavoriteItem.exists?(user_id: session[:current_userid], good_id: good.id) %>
                    已收藏
                  <% end %>
                </span>
                <span class="col-2 offset-2">
                  <%=
                    form.number_field "items[#{good.id}]",
                                      in: 0..999,
                                      value: CartItem.where(user_id: session[:current_userid], good_id: good.id).first&.count || 0,
                                      class: "form-control"
                  %>
                </span>

              </div>
            <% end %>

            <hr />

            <div class="d-grid">
              <%= form.submit "创建订单", class: "btn btn-primary" %>
            </div>
           <% end %>
        </div>
        <div>
          <p class="text-center"><%= link_to "返回订单总览", orders_path %> </p>
        </div>
      </div>
    </div>
  </div>
</div>
