<div id="<%= dom_id favorite_item %>">
  <% good = favorite_item.good %>

  <div class="row">
    <div class="col-12">
      <h4><%= good.name %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p><%= good.description %></p>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <span class="text-danger fw-bold">¥<%= number_with_precision(good.price, precision: 2) %></span>
    <%= form_with model: FavoriteItem, url: "/favorite_items/#{favorite_item.id}?redirect=2", method: "delete" do %>
      <button type="submit" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
        </svg> 取消收藏
      </button>
    <% end %>
  </div>

  <div class="row">
    <% good.images.each do |image| %>
      <%= image_tag image.file, class: "img-fluid img-thumbnail col-3", style: "object-fit: contain" %>
    <% end %>
  </div>

  <div class="row">
    <% GoodTagRelation.where(good_id: good.id).map { |relation| AttrTag.where(id: relation.attr_tag_id).first }.each do |tag| %>
      <span class="badge bg-primary fs-6 col-1 m-1"><%= tag.name %></span>
    <% end %>
  </div>

  <% colors = GoodColorRelation.where(good_id: good.id) %>
  <% unless colors.empty? %>
    <div class="row">
      <% colors.map { |relation| AttrColor.where(id: relation.attr_color_id).first }.each do |color| %>
        <span class="color-item col-1 m-1">
          <span class="color-circle" style="background-color: <%= color.rgb %>;"></span>
          <span><%= color.name %></span>
        </span>
      <% end %>
    </div>
  <% end %>

</div>

<style>
.color-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 4px;
  vertical-align: middle;
  border: 1px solid #ddd;
}
</style>

