<div id="<%= dom_id comment %>" style="border: dashed 1px gray; border-radius: 8px; background-color: #EFEFEF">
  <p style="color: gray; margin-left: 8px">
    <strong>Posted</strong>
    <%= time_ago_in_words comment.created_at %>
    <strong>ago</strong>
    |
    <span style="font-weight: bold">From <%= comment.user.username %></span>
    |
    <% if current_user && comment.user_id == current_user.id %>
      <%= link_to "Destroy", blog_comment_url(params[:blog_id].nil? ? params[:id] : params[:blog_id], comment), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure to delete this comment?"
      } %>
    <% else %>
      <span style="color: gray">Destroy</span>
    <% end %>
  </p>

  <pre>
    <%= comment.content %>
  </pre>

</div>
<br />
