<div id="<%= dom_id comment %>">
  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Good:</strong>
    <%= comment.good_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= comment.score %>
  </p>

</div>
