<%= form_with(model: good) do |form| %>
  <% if good.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(good.errors.count, "error") %> prohibited this good from being saved:</h2>

      <ul>
        <% good.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "商品名称", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, "价格", style: "display: block" %>
    <%= form.number_field :price, step: '0.01' %>
  </div>

  <div>
    <%= form.label :description, "描述", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :attr_tags, "标签", style: "display: block" %>
    <%= form.collection_check_boxes :attr_tag_ids, AttrTag.all, :id, :name do |b| %>
      <div style="display: inline-block; margin-right: 10px;">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :color_tags, "颜色", style: "display: block" %>
    <%= form.collection_check_boxes :attr_tag_ids, AttrColor.all, :id, :name do |b| %>
      <div style="display: inline-block; margin-right: 10px;">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "保存商品" %>
  </div>
<% end %>
