<div id="<%= dom_id good %>">
  <p>
    <strong>Name:</strong>
    <%= good.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= good.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= good.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= good.image %>
  </p>

</div>
