<div id="<%= dom_id good %>">
  <p>
    <strong>Name:</strong>
    <%= good.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= good.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_with_precision(good.price, precision: 2) %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% GoodTagRelation.where(good_id: good.id).map { |relation| AttrTag.where(id: relation.attr_tag_id).first }.each do |tag| %>
      <span class="tag-badge"><%= tag.name %></span>
    <% end %>
  </p>

  <p>
    <strong>Colors:</strong>
    <% GoodColorRelation.where(good_id: good.id).map { |relation| AttrColor.where(id: relation.attr_color_id).first }.each do |color| %>
      <span class="color-item">
        <%= color.name %>
        <span class="color-circle" style="background-color: <%= color.rgb %>;"></span>
      </span>
    <% end %>
  </p>

  <p>
    <strong>Comments:</strong>
    <% Comment.where(good_id: good.id).each do |comment| %>
      <% if comment.user.id == session[:current_userid] %>
        <%= form_with model: Comment, url: "/comments/#{comment.id}", method: "put" do |form| %>
          <%= form.text_area :content, value: comment.content %>
          <%= form.number_field :score, in: 1..5, value: comment.score %>
          <%= form.submit "Update" %>
        <% end %>
        <%= form_with model: Comment, url: "/comments/#{comment.id}", method: "delete" do |form| %>
          <%= form.submit "Delete" %>
        <% end %>
      <% else %>
        <p>
          <%= comment.user.name %>:
          <strong><%= comment.content %></strong>
          Score: <%= comment.score %>
          <%= comment.updated_at %>
        </p>
      <% end %>
    <% end %>
  </p>

  <% if session[:current_userid] && session[:current_role] == "Customer" %>
    <% cart_item = CartItem.where(user_id: session[:current_userid], good_id: good.id).first %>
    <% if cart_item.nil? %>
      <%= form_with(model: CartItem) do |form| %>
        <%= form.number_field :good_id, value: good.id, hidden: true %>
        <%= form.number_field :user_id, value: session[:current_userid], hidden: true %>
        <%= form.number_field :count, in: 1..999, value: 1 %>
        <%= form.submit "Add to cart" %>
      <% end %>
    <% else %>
      Have added to cart, count: <%= cart_item.count %>
      <%= form_with model: CartItem, url: "/cart_items/#{cart_item.id}", method: "put" do |form| %>
        <%= form.number_field :good_id, value: good.id, hidden: true %>
        <%= form.number_field :user_id, value: session[:current_userid], hidden: true %>
        <%= form.number_field :count, in: 0..999, value: cart_item.count %>
        <%= form.submit "Change the count" %>
      <% end %>
    <% end %>
    <%= form_with model: Comment do |form| %>
      <%= form.number_field :good_id, value: good.id, hidden: true %>
      <%= form.number_field :user_id, value: session[:current_userid], hidden: true %>
      <p>
        Comments: <%= form.text_area :content %>
      </p>
      <p>
        Your Score: <%= form.number_field :score, in: 1..5, value: 5 %>
      </p>
      <%= form.submit "Add comment" %>
    <% end %>
  <% end %>
</div>

<style>
    .color-circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-left: 10px;
        margin-bottom: 4px;
        vertical-align: middle;
        border: 1px solid #ddd;
    }
</style>
