<div class="row m-3">
  <%= link_to "返回商品总览", goods_path, class: "col-2 btn btn-primary" %>
</div>

<hr />


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>编辑商品属性</h3>
          商品名称：<strong><%= @good.name %></strong>
        </div>

        <%= form_with url: do_edit_good_attribute_goods_path(:id => params[:id]) do |form| %>
          <div class="container mt-3">
            <div class="form-label border-bottom border-secondary fw-bolder">商品标签</div>
            <div class="row">
              <%= form.collection_check_boxes :attr_tag_ids, @tags, :id, :name do |b| %>
                <div class="checkbox col-3">
                  <%= b.check_box(checked: @checked_tags.include?(b.object.id)) %>
                  <%= b.label %>
                </div>
              <% end %>
            </div>
          </div>
        
          <hr />
        
          <div class="container mt-3">
            <div class="form-label border-bottom border-secondary fw-bolder">商品色调</div>
            <div class="row">  
              <%= form.collection_check_boxes :attr_color_ids, @colors, :id, :name do |b| %>
                <div class="checkbox col-3">
                  <%= b.check_box(checked: @checked_colors.include?(b.object.id)) %>
                  <%= b.label %>
                </div>
              <% end %>
            </div>
          </div>

          <hr />

          <div class="row">
            <%= form.submit "保存属性", class: "col-3 offset-8 btn btn-primary mb-3" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
