<p style="color: green"><%= notice %></p>

<% content_for :title, "Goods" %>

<h1>Goods</h1>

<% if @current_user.nil? %>
  <%= link_to "登录", login_users_path %>
  <%= link_to "注册", register_users_path %>
<% else %>
  <p>欢迎回来，<b><%= @current_user.name %></b>！<%= link_to "退出登录", logout_users_path %></p>
<% end %>

<% if session[:current_role] == "Customer" %>
  <%= link_to "View Carts", cart_items_path %>
  <%= link_to "View Favorites", favorite_items_path %>
  <%= link_to "New Order", new_order_path %>
<% end %>

<div id="goods">
  <% @goods.each do |good| %>
    <%= render good %>
    <% if session[:current_userid] && session[:current_role] != "Customer"  %>
      <p>
        <%= link_to "Show this good", good %>
      </p>
    <% end %>
  <% end %>
</div>

<% if session[:current_role] == "Merchant" || session[:current_role] == "Admin" %>
  <%= link_to "New good", new_good_path %>
<% end %>
