<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert" id="notice">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="document.getElementById('notice').remove();"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="document.getElementById('alert').remove();"></button>
  </div>
<% end %>

<% content_for :title, "Goods" %>

<h1 class="text-center">商品总览</h1>

<hr />

<div class="container mt-10">
  <div class="row g-3">
    <% @goods.each do |good| %>
      <div class="col-lg-6 mb-6">
        <div class="card h-100">
          <div class="card-body">
            <%= render good %>
          </div>
        </div>
        <% if session[:current_userid] && session[:current_role] != "Customer"  %>
          <p>
            <%= link_to "Show this good", good %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if session[:current_role] == "Merchant" || session[:current_role] == "Admin" %>
  <%= link_to "New good", new_good_path %>
<% end %>
