<%= form_with(model: attr_tag) do |form| %>
  <% if attr_tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attr_tag.errors.count, "error") %> prohibited this attr_tag from being saved:</h2>

      <ul>
        <% attr_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
