<div id="<%= dom_id blog %>">
  <div class="blog">
    <%= link_to blog.title, blog %>
    <span style="font-weight: bold">by <%= blog.user.username %></span>
    <span style="color: gray">Posted <%= time_ago_in_words blog.created_at %> ago</span>
    |
    <% if current_user && blog.user_id == current_user.id %>
      <%= link_to "Edit", edit_blog_path(blog) %> |
      <%= link_to "Destroy", blog, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure to delete this blog?"
      } %>
    <% else %>
      <span style="color: gray">Edit</span> |
      <span style="color: gray">Destroy</span>
    <% end %>
    <pre style="background-color: #CCCCCC; padding: 10px; border-radius: 8px"><%= blog.content %></pre>
  </div>

</div>
