<% content_for :title, "注册到 Ruby Mailer" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h3>注册到 Ruby Mailer</h3>
        </div>
        <div class="card-body">
          <%= form_with url: do_register_users_path do |form| %>
            <div class="mb-3">
              <%= form.label "用户名", class: "form-label" %>
              <%= form.text_field :username, class: "form-control", placeholder: "输入用户名" %>
            </div>
            <div class="mb-3">
              <%= form.label "登录密码", class: "form-label" %>
              <%= form.password_field :password, class: "form-control", placeholder: "输入密码" %>
            </div>
            <div class="mb-3">
              <%= form.label "确认密码", class: "form-label" %>
              <%= form.password_field :re_password, class: "form-control", placeholder: "确认密码" %>
            </div>
            <div class="mb-3">
              <%= form.label "邮箱", class: "form-label" %>
              <%= form.email_field :email, class: "form-control", placeholder: "输入邮箱" %>
            </div>
            <div class="mb-3">
              <%= form.label :user_type, "用户角色", class: "form-label" %>
              <%= form.select :user_type,
                options_for_select([%w[用户 Customer],
                %w[商户 Merchant]]),
                {},
                { class: "form-select" }
                %>
            </div>
            <div class="d-grid">
              <%= form.submit "注册", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div>
          <p class="text-center">已有账号？<%= link_to "登录", login_users_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
