<div class="container">
  <%= render @user %>

  <div class="card mt-3 p-3">
    <%= form_with model: @user do |form| %>
      <div class="row mt-3">
        <div class="col-1 my-auto">
          <%= form.label "邮箱" %>
        </div>

        <div class="col-3">
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="col-3">
          <%= form.submit "更新邮箱", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <%= form_with url: update_password_users_path, method: "post" do |form| %>
      <div class="row mt-3">
        <div class="col-1 my-auto">
          <%= form.label "密码" %>
        </div>

        <div class="col-3">
          <%= form.password_field :old_password, class: "form-control", placeholder: "请输入原始密码" %>
          <%= form.password_field :password, class: "form-control", placeholder: "请输入新密码" %>
          <%= form.password_field :re_password, class: "form-control", placeholder: "请确认新密码" %>
        </div>

        <div class="col-3 my-auto">
          <%= form.submit "更新密码", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
