<% @images.each do |image| %>
  <h4>Image: <%= image.title %></h4>
  <%= form_with url: "delete", method: "delete" do |form| %>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
    <%= form.number_field :id, value: image.id, hidden: true %>
    <%= form.submit "Delete!" %>
  <% end %>
  <%= image_tag image.file %>
  <hr />
<% end %>
